.LocalifyMediaPlayer {
    width: 100%;
    background-color: #282828;
    padding: 10px;
    height: 100px;
    vertical-align: bottom;
}
.PlayerButton {
    background-color: rgba(0,0,0,0);
    border: 0;
    position: absolute;
    bottom: 25px;
}
.SubButtons_i {
    width: 35px;
}
.SubButtons_b {
    background-color: rgba(0,0,0,0);
    border: 0;
    position: absolute;
    bottom: 30px;
}

.Album {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: inline-block;
}
.TrackInfo {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}
.progress {
    width: 0px;
    height: 2px;
    background: #1ED6D7;
    transition: width 0.1s linear;
    position: absolute;
    left: 0;
    bottom: 99px;
}







/*   Volume Slider   */

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.25;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    right: 50px;
    bottom: 40px;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #1ED6D7;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #1ED6D7;
    cursor: pointer;
}